@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Acerias | 500 Error</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">

</head>

<body class="gray-bg">

    <div class="middle-box text-center animated fadeInDown">
        <h1>500</h1>
        <h3 class="font-bold">Internal Server Error</h3>

        <div class="error-desc">
            El servidor encontró algo inesperado que no permite completar la solicitud. Nos disculpamos.<br />
            Por favor comunique este error al equipo de TI a través del sistema de tickets.
            <br /><b>Sistema a reportar: 360</b>
            <br /><a href="http://appnet05:2311/Pages/STI_CU200_Pag1.aspx?ClaGrupoTicket=1&ClaTipoTicket=1" target="_blank" class="btn btn-primary m-t">Levantar ticket</a>
        </div>
    </div>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>

</body>

</html>