@{
    ViewBag.Title = "No autorizado";
}

<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="jumbotron">
            <h1 class="text-navy">No cuenta con los permisos necesarios para acceder a esta pantalla</h1>
            <h2>Por favor contacte al administrador del sistema a través del sistema de tickets solicitando acceso</h2>
            <br /><a href="http://appnet05:2311/Pages/STI_CU200_Pag1.aspx?ClaGrupoTicket=1&ClaTipoTicket=1" target="_blank" class="btn btn-primary m-t">Levantar ticket</a>
        </div>
    </div>
</div>